{{ colortext("palevioletred", "**bug trio trash") }}
\n{skull} {{ first(raid.getplayers_by_flag("is_tank", True)) }}     {triangle} {{ second(raid.getplayers_by_classspec("Warrior", "Fury")) }}
\n{cross} {{ second(raid.getplayers_by_flag("is_tank", True)) }}        {diamond} {{ first(raid.getplayers_by_classspec("Warrior", "Fury")) }}
\n{square} {{ third(raid.getplayers_by_flag("is_tank", True)) }}  {circle} {{ third(raid.getplayers_by_classspec("Warrior", "Fury")) }}
\n{moon} {{ fourth(raid.getplayers_by_flag("is_tank", True)) }}     {star} {{ fourth(raid.getplayers_by_classspec("Warrior", "Fury")) }}
\n{{ colortext("green2", "##Respect raid call-outs##") }}
\n
\n{skull} Brainwasher/Vekniss Guardians:
\nBrainwasher dies first
\nGuardians = NASA launch testing, use ledge
\n{moon} Vekniss Warrior 3x
\nKill evenly then AoE down, spawns ads on death
\nThey pat very far sometimes
\nTurn off enemy nameplates if you lag
\n
\n{{ colortext("palevioletred", "*bug trio") }}
\n{skull} Vem: Charge/Knockdown/Knock away/Enrages other 2 on death
\n{cross} Yauj: Ravage/Fears melee/Great Heal/Ads on death
\n{square} Kri: Cleave/Thrash/Toxic Volley/Puddle on death
\n
\nExample strat:
\nTank Vem in alcove, may need two tanks for knockback
\nTank Kri facing away from Raid
\nFearward furyprot tank and rogues
\nDispell Kri's poison volley
\n1. Yauj - Kick Heal and AoE the ads
\n2. Vem - Don't get knockbacked
\n! Big heals on Kri Tanks when Vem is about to die
\n3. Kri - Big heals on tank, move out of puddle cloud when Kri dies
\n 
\n|cff808080v2.1, meroe for <Serenity>|r