|cff00ff96P1:|r
\nKill |cffee5555Eyes/Tentacles|r
\n|cffff00ffMove Together|r on Dark Glare
\n{icon:136235}Murk C'thun
\n|cff00ff96P2:|r
\n|cffff00ffStack|r>|cff00ffffGiant Claw|r>|cffffff00Small Eyes|r>|cffff7d0aGiant Eye|r
\n|cff55ee55Rinse/Repeat|r
\n|cffff0000GE|r > |cffee5555SE|r > |cffffff00CT|r > |cfffff569GC|r
\n|cff55ee55Stomach|r: Kill |cffff0000Left|r > |cffff7d0aRight|r tents when no eyes r up.
\n======    1     ======
\n===   3  -------  2   ===
\n==    - - - - - - - - -    ==
\n=    5 - - - - - - - - 4    =
\n==    - - - - - - - - -    ==
\n===  7   ENTER  6  ===
\n======     8    ======
\n===-- |cffff00ffRotate180*|r--===