{{ colortext("palevioletred", "**fankriss trash") }}
\n{skull} {{ first(raid.getplayers_by_flag("is_tank", True)) }}     {triangle} {{ second(raid.getplayers_by_classspec("Warrior", "Fury")) }}
\n{cross} {{ second(raid.getplayers_by_flag("is_tank", True)) }}        {diamond} {{ first(raid.getplayers_by_classspec("Warrior", "Fury")) }}
\n{square} {{ third(raid.getplayers_by_flag("is_tank", True)) }}  {circle} {{ third(raid.getplayers_by_classspec("Warrior", "Fury")) }}
\n{moon} {{ fourth(raid.getplayers_by_flag("is_tank", True)) }}     {star} {{ fourth(raid.getplayers_by_classspec("Warrior", "Fury")) }}
\n{{ colortext("green2", "##Respect raid call-outs##") }}
\n
\n{skull} Bug Tunnel:
\nStay as a group, move as a group
\nAds respawn in ~30 seconds
\nGet to safe spot
\n(think S. room/Broodlord thoughts)
\n
\n{{ colortext("palevioletred", "*fankriss") }}
\nKill worms, AoE waves of drones
\nMelee try to parse
\n 
\n|cff808080v2.1, meroe for <Serenity>|r