{{ colortext("palevioletred", "**ouro trash") }}
\n{skull} {{ first(raid.getplayers_by_flag("is_tank", True)) }}     {triangle} {{ second(raid.getplayers_by_classspec("Warrior", "Fury")) }}
\n{cross} {{ second(raid.getplayers_by_flag("is_tank", True)) }}        {diamond} {{ first(raid.getplayers_by_classspec("Warrior", "Fury")) }}
\n{square} {{ third(raid.getplayers_by_flag("is_tank", True)) }}  {circle} {{ third(raid.getplayers_by_classspec("Warrior", "Fury")) }}
\n{moon} {{ fourth(raid.getplayers_by_flag("is_tank", True)) }}     {star} {{ fourth(raid.getplayers_by_classspec("Warrior", "Fury")) }}
\n{{ colortext("green2", "##Respect raid call-outs##") }}
\n
\nChampion/Slayer/Mindslayer:
\n1. Mindslayers
\nPolymoyph mind-controlled friends
\nTwo warriors per mindslayer (MC)
\nManaburn OR Confuse AoE on death
\nFear AoE on death (melee run out)
\n2. Slayers
\nEnrages, tank distracts, move out of whirlwind
\n3. Champions
\nDoes fear/cleave
\nTank distracts, kill last
\n
\nAnubisath Warder/Arcane Nullifier
\n1. Nullifiers
\nKill first, stack them up, mana drain
\n2. Warders
\nDoes a bunch of AoE shit, melee -hit%, silence, and fear
\nTanks can break LoS to raid using the bumpy wall, think Firemaw
\n
\n{{ colortext("palevioletred", "*ouro") }}
\nNo melee near boss = Ranged start getting 1-shot
\nNature pot
\nMelee/Ranged know where to stand
\nTank can get sweeped
\nHighest threat ranged DPS does the sandblast trick
\nEarthquake ~ think Living Bomb, Move!
\nAsk Nará in-depth question on Ouro's emerge mechanic
\n 
\n|cff808080v2.1, meroe for <Serenity>|r