{{ colortext("palevioletred", "**emps trash") }}
\n{skull} {{ first(raid.getplayers_by_flag("is_tank", True)) }}     {triangle} {{ second(raid.getplayers_by_classspec("Warrior", "Fury")) }}
\n{cross} {{ second(raid.getplayers_by_flag("is_tank", True)) }}        {diamond} {{ first(raid.getplayers_by_classspec("Warrior", "Fury")) }}
\n{square} {{ third(raid.getplayers_by_flag("is_tank", True)) }}  {circle} {{ third(raid.getplayers_by_classspec("Warrior", "Fury")) }}
\n{moon} {{ fourth(raid.getplayers_by_flag("is_tank", True)) }}     {star} {{ fourth(raid.getplayers_by_classspec("Warrior", "Fury")) }}
\n{{ colortext("green2", "##Respect raid call-outs##") }}
\n
\n|cffff0000! check your gear set lol|r
\nAnubisath 'Mini'-Bosses:
\nMeteor:           |cffff00ffStack|r|cff00ff96 ::|rPlague: |cffff00ffRun-out|r
\nShadowbolts:|cffff00ff1 Camp|r|cff00ff96 ::|r|rThunderclap: |cffff00ff2 Camps|r
\nReflect Fi/Ar |  Sh/Fr
\nExplode: |cffff00ffRun Away!|r|cff00ff96 ::|r|rEnrage: |cffff00ffStay in!|r (near death)
\nThunderclap fucking |cffee5555hurts|r, it's also |cff55ee55nature damage|r
\n|cffff0000(dead dps = 0 dps)|r
\nPoH is stil goood here
\n
\n{{ colortext("palevioletred", "*emps") }}
\nRanged wait on DPS for warlock to be correctly positioned
\nThere must be tank healers on both sides
\nMove out of blizzard
\nMelee kill the big red bugs
\nRanged do not group up (bugs)
\n{Paladin}: BoP melee tank upon request
\n 
\n|cff808080v2.1, meroe for <Serenity>|r