{{ colortext("palevioletred", "**suppression room") }}
\n{skull}{cross}{square}{moon}{triangle}{diamond}Captain{spell:22275} - ({{Nará}})
\n{circle}{star}Taskmasters{spell:22677} - ({{Nará}})
\nWhelps - AoE {spell:1161}{spell:5209}

\nRaid moves as a group - a singular group - led by |cffabd473Nará|r or |cffc79c6eTason|r
\n|cff55ee55teamwork|r makes the |cff55ee55team work|r
\nYou should |cffee5555NEVER|r be suppressed by a device
\n({{ players_by_class("ROGUE") }})


\nOur goal is to run cubicle to cubicle, |cff55ee55as a group|r, until we reach the one near the next boss
\nWe can catch our breath in the stairway
\n|cff808080v2.1, meroe for <Serenity>|r