{{ colortext("palevioletred", "*Nefarian") }}
\n({spell:22539}|cffee5555Shadowflame|r)
\nTanks wear Onyxia Scale Cloaks
\n  Raiders wear Onyxia Scale Cloaks
\n  Raiders without that Cloak (or |cffffff00cheeseballs|r) hide |cffff00ffbehind Nefarian's Throne|r
\n
\n|cff00ffffClass Calls:|r
\n{Warrior}: You get |cffee5555stuck|r in Berserker Stance. |cff55ee55Warrior tanks require more healing|r
\n{Paladin}: You |cffee5555BoP|r Nefarian. |cff55ee55Casters will watch their threat|r
\n{Hunter}: Your weapon |cffee5555breaks|r. |cff55ee55You were prepared for this|r
\n{Rogue}: You get |cffee5555teleported|r. You cannot move. You do damage. You did not save AR. |cff55ee55TANKS TURN BOSS tanks turn boss TANKS TURN BOSS|r
\n{Priest}: Your |cffee5555healing damages |rpeople. |cff55ee55You cast shields instead|r
\n{Mage}: You |cffee5555polymorph|r other raiders. |cff55ee55You hide in a cave|r
\n{Warlock}: You |cffee5555summon infernals|r. |cff55ee55A tank picks them up and raiders kill the infernals|r
\n{Druid}: You get |cffee5555stuck|r in cat form. |cff55ee55Lol|r
\n|cff808080v2.1, meroe for <Serenity>|r