\n{{ first(randomList("MAGE")) }} [MTs -> G2]
\n{{ second(randomList("MAGE")) }} [OTs -> G3]
\n{{ third(randomList("MAGE")) }} [G4 -> G8]
\n{{ fourth(randomList("MAGE")) }} [G5 -> G7]
\n{{ fifth(randomList("MAGE")) }} [G6 -> Cleanup]
\n{{randomList("MAGE")}}
\n{{randomList("MAGE")}}
\n{{randomList("MAGE")}}
