{{ colortext("palevioletred", "*Patchy") }}
\nhps + raid alertness check
\n- MT and 3 OTs engage first
\n- Top off tanks for hatefuls
\n3 players below MT take hatefuls based on HP#
\nExpect 8k damage on a hateful strike, every 1.2 seconds
\nTanks must generate good threat
\n
\n{{ colortext("palevioletred", "*Grob") }}
\nAdd > Boss
\n1 healer cleanses mutating. Wait for positioning!
\nBoss does spray cone, don't be in front
\nOff tanks pick up fallout spawns, melee kill it
