{{ colortext("palevioletred", "*Gluth") }}
\nKite ads, Boss wants to eat them to heal
\nTranq Shot!
\n- tanks must swap without taunt
\n- aoe fear
\n- dont get hit by zomboids
\ndecimate: 105 seconds -> puts raid at 5% hp
\n- top off tanks, kill zombies not gluth


{{ colortext("palevioletred", "*Thadd") }}
\nStalagg - Crushing Blows - Casters
\nFeugen - AoE mana drain, warstomp - Melee
\n- Gentle DPS for transition (when tank gets knocked over)
\nKill Stalagg/Feugen in sync
\nBoss <- assemble behind him
\n- Polarity shift (30 sec)
\nIf you go to the wrong side, you will kill the entire raid and Nara will steal something out of your house
\n- on swap you go straight through the boss, dont avoid ppl
\n- on stay, simply stay
\nShift gives 5 seconds to move before the raid wipes

