{{ colortext("palevioletred", "*Maexx") }}
\nKeep Demo Shout and Thunderclap up
\n Tank must be cleansed of Necrotic Poison
\n Web Spray:
\n Abolish Poison on tank before Web Spray!
\n5 seconds before web spray, top off tank, Abolish Poison, PW:S, HoTs, and HoTs
\n Ads <- Demo Shout + AoE
\b Boss <- Don't be in front & free webbed raiders!
\nStart enrage after webspray pls. so stop dps before 30%