{{ colortext("palevioletred", "*Anub") }}
\nkill 2 spider buddies
\n- 2x hunters pull crpyt guards to OTs - FaP
\n- face away from raid, they do frontal cleave
\n- Spawns 10x Scarabs on death, cheat and kill both buddies at the same time
\n- Rogues stunlock them and use Imp. Sprint or FaP if needed
\nBoss
\n- impale->use hp pot
\n- Dying or killing buddies spawns 10x Scarabs, avoid death and be alert
\n- Scarabs want to kill healers, which will kill us
\n- Kite boss on Locust Swarm, move away and let tank do it
\n- Gentle healing on Locust Swarm
\nPop all CDs (not recklessness) when told to pump

{{ colortext("palevioletred", "*Faer") }}
\nMind control 2 Worshippers on pull
\n- Sacrifice one within 15-20 seconds, and another 30 seconds after.
\n- Sacrifice counters enrage
\nFollowers
\n- 2x tanks pick up 1 of each (2x)
\n Pull to the back of the room away from the raid, 
\nWorshippers
\n If you sacrifice BEFORE she enranges she is silenced for 30 seconds
\n if you sacrifice AFTER she enranges, she is silenced for 1 minute
\n- 4x tanks pick up 1 of each (4x)
\nBoss
\n- cleanse AoE poison bolts
\n- That's not our Rain of Fire
\n- We only get 4 dispell enrages for the fight
\mKill the Naxxramas Followers after killing Faerlina
